<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Vocab Study" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      .valign-middle {
        display: table;
      }
      
      .valign-middle .columns {
        display: table-cell;
        vertical-align: middle;
      }
      
      .valign-middle .columns,
      .valign-middle [class*="column"] + [class*="column"]:last-child {
        float: none;
      }
    </style>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="row text-center">
      <hr>
      <h4>AP English</h4>
      <h1>Vocabulary Quiz</h1>
      <hr>
    </div>
    <%= yield %>
  </body>
</html>
